<code>----------userList---------------</code>
{{#list userList}}
    {{firstName}}
    {{lastName}}
    {{#with details}}
        <div class="cnp">{{cnp}}</div>
        <div class="address">{{address}}</div>
    {{/with}}
{{/list}}

<code>---------each-----------</code>
{{!-- outputs userList first name and last name --}}
{{#each userList}}
<h2>{{firstName}}</h2>
<div>{{lastName}}</div>
{{/each}}

<code>----ifIsEqual-------</code>
{{#ifIsEqual isActive isInactive}}
<div class="theyAreEqual">YES they are equal</div>
{{else}}
<div class="theyAreNotEqual">NOO they are not equal</div>
{{/ifIsEqual}}

<code>---------ifCond-------------</code>
{{#ifCond isActive '!==' isInactive}}
<div class="conditionTrue">YES</div>
{{else}}
<div class="conditionFalse">NOOO</div>
{{/ifCond}}

<code>---------breadcrumbs-----------</code>
{{#breadcrumbs 'home' 'users' 'test' 'test3' 'test5'}}{{/breadcrumbs}}


<a href="#/home">Home</a>